body	{
	background-color: #848c8e;
	font-family: 'Raleway', sans-serif;
}

.firstBackground {
  height: 100vh;
  background-image: url("office.jpeg");
  background-color: #726E6D;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
	padding-top: 380px;
	padding-left: 20px;
	display: flex;

}

h1 {
	opacity: 0;
  transform: translateX(-12px);
  animation: 0.7s slidefade 0s forwards;
}

@keyframes slidefade {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
